:root{
  --bgPrimary: #9CD5FF;
  --bgSecond: #7AAACE;
  --lightAcc: #F7F8F0;
  --darkAcc: #355872;
}

body{
  background: #F7F8F0;
  margin: 0;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.topBar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--lightAcc);
    color: var(--darkAcc);
    border-color: var(--darkAcc);

}

.topBar h1{
  font-size: 42px;
}

.btnBook{
    height: 55px;
    width: 105px;
    font-size: 18px;
    align-self: center;
    border-radius: 10px;
    background-color: var(--darkAcc);
    color: var(--lightAcc);
    transition: height 0.5s, width 0.5s;
}

.btnBook:hover{
  height:60px;
  width: 110px;
  font-weight: bold;
  background-color: var(--bgSecond);
  color: var(--darkAcc);
}

.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid #2c3e50;
  transition: all 0.3s ease;
}

.card:hover{
  transform: translateY(-0.8rem);
}

.bookTitle{
  font-size: 1.5rem
}

.bookDetails{
  font-size: 1.1rem;
}

.bookAbout{
  font-size: 1.1rem;
  line-height: 1.5;
}

span{
  font-size: 1.2rem;
  font-weight: bold;
}


.remove-btn, #submit {
    margin-top: 15px;
    padding: 8px;
    background-color: var(--darkAcc);
    color: var(--lightAcc);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.remove-btn:hover,
#submit:hover
{
  background-color: var(--bgSecond);
  color: var(--lightAcc);
}



.bookWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/*Modal Vorlage ist von w3schools*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.closeBtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.addNew{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto;
    max-width: 400px;
  }

.addNew input[type="text"],
.addNew input[type="number"] {
    padding: 10px;
    border: 3px solid black;
    border-radius: 8px;
    font-family: inherit;
    font-weight: 700;
}

  .addNew label{
    font-size: 1.2rem;
  }

.addNew input[type="checkbox"] {
    transform: scale(2); 
    margin: 20px 0 20px 20px;
    cursor: pointer;
    accent-color: var(--darkAcc); 
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 15px;
}
